@charset "UTF-8";
/* CSS Document */

*{

margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
	
}

#contenedor{
     border: 1px solid #903;
    margin-left:auto;
	margin-right:auto;
	width:1000px;
	background-color:#FFF;
    padding: 5px;        
	
}

header {
	border: 1px solid #903;
	width:100%;
    margin-bottom: 15px;
    height: fit-content;
	background-color:rgb(233, 135, 135);
	overflow: hidden;
	
}

section{
    
    border: 1px solid #903;
    width: 550px;
    float: left;
    height: 520px;
    margin-left: 15px;
    margin-bottom: 15px;
}


aside{
    text-align: center;
    border: 1px solid #903;
    margin-right: 15px;
    width: 340px;
    float: right;
    height: 500px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    border: 1px solid #903;
    clear: both;
    width: 100%;
    height: 90px;

    background-color: rgb(233, 135, 135);
    
}
h2 {
    text-align: center;

}
h1 {
    text-align: center;
}
#enviar {
    float: left;
}
#cajatexto{
    float: left;
    margin-right: 100px;
}
#tabla1{
    margin-left: 25px;
    margin-right: 25px;
}
#tabla2{
    margin-left: 125px;
    margin-right: 25px;
}
